/* 
 Bright red 


*/

:root {
    --bright-red: #bd4147;
    --mid-red: #862e32;
    --deep-red: #4e0202;
    --text-colour: #444444;
    --link-colour: #888888;
    --pale-grey:#dddddd;
    --warning-background: lightgoldenrodyellow;
    --warning-text: var(--deep-red);

    --terminal-colour: var(--pale-grey);
}

/* Make max width for page content. */
#pageContent {
    max-width: 900px;
    float: left;
    padding-top: 0;
}

h1 {
    color: var(--mid-red);
    margin-bottom: 0.5em;
    border-bottom: solid 1px var(--terminal-colour);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.v-application {
    font-family: "Lato", "proxima-nova", "Helvetica Neue", "Arial", sans-serif;
}

.v-application a {
    color: --var(link-colour);
    text-decoration: none;
    font-weight:500;
}

.v-application a:hover {
    color: var(--bright-red) !important;
}

/* Remove box and shadow from code.  The font and colour is plenty! */
.v-application code {
    background: none;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    font-size: 100%;
    font-weight: normal;
    padding:10px;
    margin-bottom: 5px;
}

.v-application code::before, .v-application code::after {
    display:none;
}

code.plaintext {
    background-color: var(--terminal-color);
    color: var(--text-color);
    overflow: scroll;
    border-radius: 3px;
    width: 100%;
}

code.xref {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    color: var(--deep-red);
    font-weight: 500;
}

/* Indent the function contents so it's easier to distinguish from the names.
   Default: Desktop screen width. */
.function > * {
    margin-left: 1rem;
}

/* Format the function definitions. */
.function > dt:first-of-type {
    font-family: monospace;
    font-weight: 700;
    padding-top: 1rem;
    margin-left: 0;
    margin-bottom: 0.3rem;
    color: var(--bright-red);
}

/* Ensures a consistent look through the function heading.
TODO: Find where the extra space is being added after the trailing ") " and move it to before ... 
*/
.function > dt:first-of-type > * {
    font-family: monospace;
    font-weight: 700;
    font-size: 110%;
}

/* Indenting the "see also", "parameters" and "return" blocks on wide screens. */
dl[name="simplesect"], dl[name="parameterlist"] {
    margin-left: 1rem;
    margin-top: 0.3rem;
}

/* Table of public function names in index should be monospaced. */
section[id^="classlibcellml"]
> section[id^="public_"]
> table {
    color: black;
    font-family: monospace;
}

/* Tables of enum values should be monospaced. */
.enum > table > tr > td:first-child {
    font-family: monospace;
    text-align: right;
    padding-right: 0.8rem;
}

/* Spacing out the sections better. */
section {
    padding-top: 1rem;
}

/* Move breadcrumbs down a little ... */
.breadcrumbs {
    margin-top: 0.3rem;
    white-space: nowrap;
    display: block;
    direction: rtl; /* This is so that it will collapse from the left on small screens */
    overflow: hidden;
    text-overflow: ellipsis;
    /* text-transform: uppercase; */
}

.breadcrumbs * {
    margin: 0;
    padding: 0;
}

.v-breadcrumbs {
    padding: 0 10px 0 0;
    flex-wrap: nowrap;
}

/*  At present the menu width at 100% jumps to two lines when window width is less than 848px.  
    Assume base rem = 16px -> 53rem */
@media only screen and (max-width: 53rem) {
    header > div[class="v-toolbar__content"] > div[class="row"] {
        display: none;
    }
}

/* Remove indents on smaller screens. */
@media only screen and (max-width: 31rem) {
    .function > * {
        margin-left: 0.2rem;
    }
    dl[name="simplesect"], dl[name="parameterlist"] {
        margin-left: 0;
    }
}

/* Code block background colour. */
pre {
    background-color: #fafafa;
    border-radius: 3px;
}

/* Shortlist class. */
.shortlist > ul > li > p {
    margin-bottom: 2px;
}

/* Formatting from the tutorials readthedocs site. */
.dothis {
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;

    background-color:#fbfff6;
    border-color: rgb(80, 121, 0);
    color: #22440b;

    /* border-left: 5px solid rgb(174, 189, 145); */
    /* border-left: 5px solid #1fbe7c; */
    /* background:#f0fff9; */
    /* background-color: #efefef; */
    /* padding: 3px 3px 5px 8px;
    margin-top:20px;
    margin-bottom:20px;
    line-height: 24px; */
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

.dothis > p {
    margin-bottom: 0;
}

.useful {

    padding: .5rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;

    background-color:#f3f5f7;
    border-color: #1f76be;
    color: #0f3555;

    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

.useful > p {
    margin-bottom: 0;
}

.useful > p > a {
    color: #1f76be;
    font-weight: 700;
}

.useful > ul > li > p {
    margin-bottom: 2px;
}

.nb {

    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;

    background-color: rgba(255,229,100,.3);
    border-color: #e7c000;
    color: #6b5900;

/*     
    border-left: 5px solid sandybrown;
    background:rgb(255, 243, 206); */
    /* padding: 3px 3px 5px 8px;
    margin-top:20px;
    margin-bottom:20px; */
    line-height: 24px;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

.nb > p, ul, ol, dl {
    margin-bottom:0;
    padding: 5px;
}

/* Toggles for showing/hiding code. */
.toggle {
    margin: 5px 0 5px 0;
    /* border-left: solid #e6d1d1 5px; */
    /* border: solid #dadada 1px;
    background-color: #dadada;
    border-radius: 5px; */
    padding: 8px;
}

.toggle > * {
    display: none;
    padding: 0;
} 

.toggle .header, .toggle .header-left {
    display: block;
    clear: both;
    color: var(--text-colour);
}

.toggle .header {
    text-align: right;
}

.toggle .header-left {
    text-align: left;
}

.toggle > pre {
    background-color: #eeeeee;
    /* white-space: nowrap; */
}

.toggle .header.active p, .toggle .header-left.active p {
    font-weight: 700;
    color: var(--bright-red);
    margin-bottom:3px;
}

.toggle .header.active p::after,
.toggle .header-left.active p::after {
    content: " -"
}

.toggle .header.inactive p,
.toggle .header-left.inactive p  {
    font-weight: 500;
    color: var(--link-colour);
    margin-bottom:0;
}

.toggle .header.inactive p::after,
.toggle .header-left.inactive p::after {
    content: " +"
}

.tab2menu {
    position: relative;
    height: 45px;
    border-bottom: solid #cccccc 1px;
}

.tab2spacer {
    display: block;
}

.tab2name {
    float: left;
    width: auto;
    height: 20px;
    color: var(--text-colour);
    border: solid #cccccc 1px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.tab2name.active {
    background-color: white;
    font-weight: 700;
    color: var(--bright-red);
    border-bottom: solid white 3px;
}

.tab2name.inactive {
    background-color: whitesmoke;
    font-weight: 400;
    color: var(--text-colour);
    border-bottom: solid #cccccc 1px;
}

.tab2 .active > .tab2name {
    font-weight: 700;
    color: var(--bright-red);
}

.tab2 .inactive > .tab2name {
    font-weight: 400;
    color: var(--text-colour);
}

.tab2.active * {
    display: inline-block;
}

.tab2.inactive * {
    display: none;
    padding: 0;
    margin: 0;
}

.tab2 * {
    margin: 0 !important;
}

/* TODO collapse nicely ... */
.infospec {
    /* border-top: 1px solid #b9c6dd; */
    background: #e1eaf0;
    color: var(--text-colour);
    padding: 10px;

    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;

    line-height: 24px;
    font-family: "fakt-web", "Lato", "proxima-nova", "Helvetica Neue", "Arial", sans-serif;
}

/* Turn off the Contents blocks on pages as they're in the sidebar. */
.topic.contents {
    display: none;
}

.image-box {
    display: flex;
    flex-wrap: wrap;
}
.image-box * {
    justify-content: center;
    align-items: center;
}
.image-box img {
    padding: 5px;
    max-width: 250px;
    /* max-width: 100%; */
}

@media only screen and (max-width: 300px) {
    .image-box img {
       max-width: 100%;
    }
}

#footer-copyright, #footer-ack {
    margin-bottom: 0;
    padding-bottom: 0;
    color: var(--link-colour);
}