/* 
 Styles for use with Doxygen-created pages. 
*/
@import './general.css';

.v-application a {
    color: var(--link-colour) !important;
    text-decoration: none;
    font-weight:500;
}

.v-application a:hover {
    color: var(--bright-red) !important;
}

/* Remove box and shadow from code.  The font and colour is plenty! */
.v-application pre {
    background: none;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    font-size: 100%;
    font-weight: normal;
    padding-left: 0.8em;
    margin-bottom: 5px;
}

.v-application code::before, .v-application code::after {
    display:none;
}

/* Indent the function contents so it's easier to distinguish from the names.
   Default: Desktop screen width. */
.function > * {
    margin-left: 1rem;
}

/* Format the function definitions. */
.function > dt:first-of-type {
    font-family: monospace;
    font-weight: 700;
    padding-top: 1rem;
    margin-left: 0;
    margin-bottom: 0.3rem;
    color: var(--mid-red);
}

/* Ensures a consistent look through the function heading.
TODO: Find where the extra space is being added after the trailing ") " and move it to before ... 
*/
.function > dt:first-of-type > * {
    font-family: monospace;
    font-weight: 700;
    font-size: 110%;
}

/* Indenting the "see also", "parameters" and "return" blocks on wide screens. */
dl[name="simplesect"], dl[name="parameterlist"] {
    margin-left: 1rem;
    margin-top: 0.3rem;
}

/* Table of public function names in index should be monospaced. */
section[id^="classlibcellml"]
> section[id^="public_"]
> table {
    color: black;
    font-family: monospace;
}

/* Tables of enum values should be monospaced. */
.enum > table > tr > td:first-child {
    font-family: monospace;
    text-align: right;
    padding-right: 0.8rem;
}

/* Spacing out the sections better. */
section {
    padding-top: 1rem;
}
