/* Remove box and shadow from code.  The font and colour is plenty! */
.v-application code {
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 100%;
    font-weight: normal;
}

/* Indent the function contents so it's easier to distinguish from the names. */
.function > * {
    margin-left: 15px;
}

/* Format the function definitions. */
.function > dt:first-of-type {
    font-family: monospace;
    font-weight: 700;
    padding-top: 15px;
    margin-left: 0;
    margin-bottom: 5px;
    color: #bd4147;
}

/* Ensures a consistent look through the function heading.
   TODO: Find where the extra space is being added after the trailing ") " and move it to before ... 
*/
.function > dt:first-of-type > * {
    font-family: monospace;
    font-weight: 700;
    font-size: 110%;
}

/* Indenting the "see also", "parameters" and "return" blocks. */
dl[name="simplesect"], dl[name="parameterlist"] {
    margin-left: 15px;
    margin-top:5px;
}